---
---

@import "{{ site.theme }}";

!important body {
  background: url(../imagess/background.png) #cc2200;
  background-color: #cc2200;
  background-color: rgb(204, 34, 0);  
}

!important header {
  background: url(../imagess/background.png) #cc2200;
  background-color: #cc2200;
  background-color: rgb(204, 34, 0);  
}
