---
---
@import "{{ site.theme }}";
body {
  background: url(../images/background.png) #cc2200 !important;
  background-color: rgb(204, 34, 0) !important;  // Jedna wersja
  font-size: 40px !important;
}

header {
  background: url(../images/background.png) #cc2200 !important;
  background-color: rgb(204, 34, 0) !important;
  font-size: 40px !important;
}
